<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.privateproject.agendamanage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module_viewSchedule.activity.ViewScheduleShowCellActivity"></activity>
        <activity android:name=".module_viewSchedule.activity.ViewScheduleTaskActivity" />
        <activity android:name=".module_viewSchedule.activity.ViewSchedulePlanNodeActivity" />
        <activity android:name=".module_weekTime.activity.TimeLineChartActivity" />
        <activity
            android:name=".module_weekTime.activity.WeekTimeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".module_weekTime.activity.WeekTimeEditChoiseActivity" />
        <activity android:name=".module_sourceList.activity.DayTargetInfoActivity" />
        <activity android:name=".module_sourceList.activity.TargetInfoActivity" />
        <activity android:name=".module_weekTime.activity.DayTimeSelectActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>